.poster{
    margin: auto;
}

.poster:hover {
    filter: grayscale(0);
    opacity: 1;
}

hr {
    height: 2px;
    animation: float 3s ease 1s infinite alternate-reverse;
}

.bg {
    background-color: #111;
}

.border {
    border-left: 2px solid white;
    margin: 0 1rem;
}

@keyframes float {
    from {
        transform: translateX(-10%)
    }
    to {
        transform: translateX(10%)
    }
}

@media screen and (min-width: 80em) {
    .blog__heading{
        position: absolute;
        top:1rem;
        left: -30%;
    }
    .bio__heading{
        position: absolute;
        top:-16%;
        /* left:1rem; */
        font-size: 4vw;
    }
    .poster {
        max-width: 50vw;
        max-height: 100vh;
        margin: 0;
        opacity: .25;
        filter: grayscale(1);
        transition: opacity 500ms ease-in-out;
        object-fit: cover;
        height: 100%;
    }
}
