@media screen and (min-width: 80em) {
    .blog {
        position: relative;
        will-change: transform;
        transform-origin: top left;
        transition: transform 900ms ease;
        transform: translateX(130%) scale(.8);
    }
    .blog.open {
        transform: translateX(0%) scale(1);
    }
    .blog__heading{
        position: absolue;
    }
    .poster{
        position: fixed;
        right: 2vmin;
        top: 0;
        max-height: 96vh;
        /* max-width: 60vh; */
        margin-bottom: 0;
        opacity: .7;
        filter: grayscale(1);
    }
    .poster:hover{
        filter: grayscale(0);
        opacity: 1;
    }
    .bio{}
    .bio__heading{
        position: absolue;
    }
    .bg{
        background-color: #111;
    }
}