html {
  min-width: 320px;
  background-color: #fff;
  padding: 2vmax;
}

@media screen and (min-width: 60em) {
  html {
    padding: 4vmin;
  }
}

body {
  min-height: 92vh;
  background-color: #111;
  /* box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3),0 0 20px 2px rgba(0, 0, 0, 0.2); */
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.25), 0 6px 10px rgba(0, 0, 0, 0.22);
}

hr {
  height: 2px;
  animation: float 3s linear 1s infinite alternate-reverse;
  width: 20%;
  background-color: white;
  margin: 2rem 80%
}

.wrap {
  max-width: 40em;
  margin: 0 auto;
}

.bg {
  background-color: #111;
}

.border {
  border-left: 2px solid white;
  margin: 0 1rem;
}

@keyframes float {
  from {
    transform: translateX(-10%)
  }
  to {
    transform: translateX(10%)
  }
}

.pageFade {
  opacity: 0;
  will-change: opacity;
  animation: pageFade 800ms linear 400ms 1 forwards;
}

@keyframes pageFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    /* transform: translateX(10%) */
  }
}
